.headline {
  margin-bottom: 32px;
  border-top: dotted 3px #516ab6; /*下線*/
}

.headline:first-child {
  border-top: none;
}

.middle-heading {
  margin: 8px auto;
}

.sub-heading {
  margin: 8px auto;
}
